<!--======= INTRO  SECTION  -->

<section class="inner-intro bg-7 bg-overlay-black-70">
  <div class="container">
    <div class="row text-center intro-title">
      <div class="col-lg-6 col-md-6 text-left">
        <h1 class="text-white">Faq</h1>
      </div>
      <div class="col-lg-6 col-md-6 text-right">
        <ul class="page-breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i> Home</a>
            <i class="fa fa-angle-double-right"></i>
          </li>
          <li>
            <a href="#">pages</a>
            <i class="fa fa-angle-double-right"></i>
          </li>
          <li>
            <span>FAQ</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--======= INTRO  SECTION  -->

<!--======= FAQ SECTION  -->

<section class="privacy-policy page-section-ptb gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title">
          <span> Have a question? Please check our knowledgebase first.</span>
          <h2>Frequently Asked Questions </h2>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div id="tabs">
          <ul class="tabs text-center">
            <li data-tabs="tab1" class="active">
              <span aria-hidden="true" class="icon-diamond"></span> General Information</li>
            <li data-tabs="tab2">
              <span aria-hidden="true" class="icon-list"></span>Features & Options</li>
            <li data-tabs="tab3">
              <span aria-hidden="true" class="icon-equalizer"></span> Vehicle Overview</li>
          </ul>
          <div id="tab1" class="tabcontent accordion">
            <div class="accordion-title">
              <a href="#">What do I need to know before buying a car?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">What is required if I sell my vehicle?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">Why am I receiving renewal notices for a car I sold?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">How many days do I have to transfer ownership?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">Is the price you quote guaranteed?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">How much is the most you will pay for a car?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">How much does a vehicle inspection cost?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
          </div>
          <div id="tab2" class="tabcontent accordion">
            <div class="accordion-title">
              <a href="#">What do I need to know before buying a car?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">What is required if I sell my vehicle?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">Why am I receiving renewal notices for a car I sold?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
          </div>
          <div id="tab3" class="tabcontent accordion">
            <div class="accordion-title">
              <a href="#">How many days do I have to transfer ownership?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">Is the price you quote guaranteed?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
            <div class="accordion-title">
              <a href="#">How much is the most you will pay for a car?</a>
            </div>
            <div class="accordion-content">
              <h6>You will begin to realize why this exercise?</h6>
              <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <ul class="list-style-none">
                <li>1. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum</li>
                <li>2. Auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </li>
                <li>3. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</li>
                <li>4. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                  elit Class.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--======= FAQ SECTION  -->